#### 1. Print first 10 natural numbers using while loop

In [5]:
num = 10
for i in range(1,num+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### 2. Print the  following pattern:
#### 1 
#### 1 2 
#### 1 2 3 
#### 1 2 3 4 
#### 1 2 3 4 5

In [23]:
num = 5

for i in range(1,num+1):
    line = ""
    for j in range(1, i+1):
        line += str(j)+" "
    print(line)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

####  3. Calculate sum of all numbers from 1 to a given number
#### eg. if the user entered 10, the output should be 55

In [26]:
def sum_up_to(num):
    return (1 + num)*num//2

In [27]:
sum_up_to(10)

55

####  4. Print multiplication table of a given number (up to multiplication of 10)

In [32]:
def multiplication_table(num):
    for i in range(1,11):
        print(num*i)

In [33]:
multiplication_table(2)

2
4
6
8
10
12
14
16
18
20

####  5. Display numbers from a list that meet certain criteria
* The number must be divisible by five
* If the number is greater than 150, then skip it and move to the following number
* If the number is greater than 500, then stop the loop

In [24]:
def num_selection(num_list):

    for num in num_list:
        if num > 500:
            break
        elif num > 150:
            continue
        elif (num % 5) == 0:
            print(num)

In [26]:
numbers = [12, 75, 150, 180, 145, 525, 50]
num_selection(numbers)

75
150
145

####  6. Count the total number of digits in a number
##### For example, the number is 75869, so the output should be 5

In [30]:
def digits_in_num(num):
    return len(str(num))

In [31]:
digits_in_num(75869)

5

####  7. Print the following pattern
#### 5 4 3 2 1
#### 4 3 2 1 
#### 3 2 1 
#### 2 1 
#### 1

In [63]:
num = 5
for i in range(num):
    line = ""
    for j in range(1, num + 1 - i):
        line += str(num + 1 - i - j)+" "
    print(line)

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1