exercises from: https://pynative.com/

#### 1. Print first 10 natural numbers using while loop

In [1]:
num = 10
for i in range(1,num+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### 2. Print the  following pattern:
#### 1 
#### 1 2 
#### 1 2 3 
#### 1 2 3 4 
#### 1 2 3 4 5

In [2]:
num = 5

for i in range(1,num+1):
    line = ""
    for j in range(1, i+1):
        line += str(j)+" "
    print(line)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

####  3. Calculate sum of all numbers from 1 to a given number
#### eg. if the user entered 10, the output should be 55

In [3]:
def sum_up_to(num):
    return (1 + num)*num//2

In [4]:
sum_up_to(10)

55

####  4. Print multiplication table of a given number (up to multiplication of 10)

In [5]:
def multiplication_table(num):
    for i in range(1,11):
        print(num*i)

In [6]:
multiplication_table(2)

2
4
6
8
10
12
14
16
18
20

####  5. Display numbers from a list that meet certain criteria
* The number must be divisible by five
* If the number is greater than 150, then skip it and move to the following number
* If the number is greater than 500, then stop the loop

In [7]:
def num_selection(num_list):

    for num in num_list:
        if num > 500:
            break
        elif num > 150:
            continue
        elif (num % 5) == 0:
            print(num)

In [8]:
numbers = [12, 75, 150, 180, 145, 525, 50]
num_selection(numbers)

75
150
145

####  6. Count the total number of digits in a number
##### For example, the number is 75869, so the output should be 5

In [9]:
def digits_in_num(num):
    return len(str(num))

In [10]:
digits_in_num(75869)

5

####  7. Print the following pattern
#### 5 4 3 2 1
#### 4 3 2 1 
#### 3 2 1 
#### 2 1 
#### 1

In [11]:
num = 5
for i in range(num):
    line = ""
    for j in range(1, num + 1 - i):
        line += str(num + 1 - i - j)+" "
    print(line)

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

#### 11: Print all prime numbers within a range

In [12]:
def print_primes(start, end):
    
    def is_prime(num):
        for i in range(2,num):
            if num % i == 0:
                return False
        return True
    
    for i in range(start, end):
        if is_prime(i):
            print(i)

In [13]:
start = 25
end = 50
print_primes(start, end)

29
31
37
41
43
47

#### 12: Display Fibonacci series up to n terms

In [14]:
# assumes n >= 1
def print_n_fibonacci(n):
    current = 1
    previous = 0
    
    print(0)
    count = 1
    
    while count < n:
        print(current)
        next_num = previous + current
        previous = current
        current = next_num
        count += 1

In [15]:
print_n_fibonacci(10)

0
1
1
2
3
5
8
13
21
34