### 1: Create a list by picking an odd-index items from the first list and even index items from the second
#### assuming we start at index 0 as Python lists do :)

In [1]:
def even_odd_index_list(list1, list2):
    output = []
    
    def is_even(num):
        if num % 2 == 0:
            return True
        return False
    
    for i in range(len(list1)):
        if not is_even(i):
            output.append(list1[i])
            
    for i in range(len(list2)):
        if is_even(i):
            output.append(list2[i])      
            
    return output

In [2]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

even_odd_index_list(l1,l2)

[6, 12, 18, 4, 12, 20, 28]

### 2: Remove and add item in a list
#### Write a program to remove the item present at index 4 and add it to the 2nd position and at the end of the list.

In [3]:
def item_mover(lst):
    fourth = lst.pop(4)
    lst.insert(2, fourth)
    lst.append(fourth)

In [4]:
list1 = [34, 54, 67, 89, 11, 43, 94]

item_mover(list1)

list1

[34, 54, 11, 67, 89, 43, 94, 11]

### 4: Count the occurrence of each element from a list
#### return in a dictionary

In [5]:
def count_list_elements(lst):
    out_dict = {}
    
    for i in lst:
        if i not in out_dict:
            out_dict[i] = 1
        else:
            out_dict[i] += 1
            
    return out_dict

In [6]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
count_list_elements(sample_list)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

###  9: Get all values from the dictionary and add them to a list but donâ€™t add duplicates

In [7]:
speed = {'jan': 47,
         'feb': 52,
         'march': 47,
         'April': 44,
         'May': 52,
         'June': 53,
         'july': 54,
         'Aug': 44,
         'Sept': 54}

In [8]:
def values_to_list(dictionary):
    out = {}
    for value in dictionary.values():
        out[value] = 0
    return list(out)

In [9]:
values_to_list(speed)

[47, 52, 44, 53, 54]